# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Contains machine-specific settings
misc.xml

# can be obtained from Gradle:
/modules.xml
/compiler.xml
artifacts/
libraries/